@charset "utf-8";
/* CSS Document */
section .inner{width:98.15%;margin:0 auto;}
.page1{margin:8px 0px 42px 0px;height:12px;}
.page1 dl dt{line-height:12px;float:left;margin-right:5px;}
.page1 dl dd{float:left;line-height:12px;margin-left:10px;margin-bottom:6px;}
.page1 dl dd a{color:#333;}
.page1 dl dd a:hover{border-bottom:1px solid #333;}
.page1 dl dd span{margin-left:10px;height:12px;}
.page2{margin-bottom:46px;}
.page2-left{float:left;width:23.5%;margin-right:20px;}
.page2-left h3{font-weight:normal;line-height:14px;margin-bottom:6px;}
.page2-left h4{line-height:28px;font-size:22px;margin-bottom:13px;margin-bottom:14px;}
.page2-left p{line-height:15px;}
.page2-left h5{font-weight:normal;line-height:15px;color:#3399fd;}
.page2-left h5 a{color:#3399fd;}
.page2-left h5 a:hover{text-decoration:underline;}
.page2-mid{width:50%;float:left;margin-right:3px;}
.page2-mid .pic1{margin-bottom:4px;}
.page2-mid img{display:block;box-shadow:0px 0px 0px 1px #fff,0px 0px 5px 2px #bebebe;}
.page2-mid h3{line-height:17px;float:left;margin-top:5px;font-size:14px;}
.page2-mid h3 a{color:#333;}
.page2-mid h3 a:hover{text-decoration:underline;}
.page2-mid span{display:inline-block;font-size:16px;padding-top:5px;margin-left:4px;color:#b5b5c1;line-height:18px;height:18px;}
.page2-mid p{line-height:14px;}
.page2-right{float:left;width:23.5%;}
.page2-right img{display:block;box-shadow:0px 0px 0px 1px #fff,0px 0px 5px 2px #bebebe;}
.page2-right h3{line-height:17px;float:left;margin-top:5px;font-size:14px;}
.page2-right h3 a{color:#333;}
.page2-right h3 a:hover{text-decoration:underline;}
.page2-right span{display:inline-block;font-size:16px;padding-top:5px;margin-left:4px;color:#b5b5c1;line-height:18px;height:18px;}
.page2-right p{line-height:14px;}
.page3{margin-bottom:43px;}
.page3-one{float:left;width:31.5%;margin-right:20px;}
.page3-one .pic1{box-shadow:0px 0px 0px 1px #fff,0px 0px 5px 2px #bebebe;}
.page3-one .pic1 img{display:block;width:100%;}
.page3-one h3{float:left;font-size:14px;padding-top:5px;font-weight:bold;line-height:18px;height:18px;}
.page3-one h3 a{color:#333;}
.page3-one h3 a:hover{text-decoration:underline;}
.page3-one span{display:inline-block;font-size:14px;padding-top:5px;margin-left:4px;color:#b5b5c1;line-height:18px;height:18px;}
.page3-one p{line-height:16px;height:16px;padding-top:1px;font-size:11px;}
.page3-two{float:left;width:15%;margin-right:20px;}
.page3-two .pic1 img{box-shadow:0px 0px 0px 1px #fff,0px 0px 5px 2px #bebebe;}
.page3-two h3{float:left;font-size:14px;padding-top:5px;font-weight:bold;line-height:18px;height:18px;}
.page3-two h3 a{color:#333;}
.page3-two h3 a:hover{text-decoration:underline;}
.page3-two span{display:block;font-size:14px;padding-top:5px;margin-left:4px;color:#b5b5c1;line-height:18px;height:18px;}
.page3-two p{line-height:16px;height:16px;padding-top:1px;font-size:11px;}
.page3-three{float:left;width:15%;margin-right:20px;}
.page3-three .pic1 img{width:100%;display:block;box-shadow:0px 0px 0px 1px #fff,0px 0px 5px 2px #bebebe;}
.page3-three h3{float:left;font-size:14px;padding-top:5px;font-weight:bold;line-height:18px;height:18px;}
.page3-three h3 a{color:#333;}
.page3-three h3 a:hover{text-decoration:underline;}
.page3-three span{display:inline-block;font-size:14px;padding-top:5px;margin-left:4px;color:#b5b5c1;line-height:18px;height:18px;}
.page3-three p{line-height:16px;height:16px;padding-top:1px;font-size:11px;}
.page3-four{float:left;width:15%;margin-right:20px;}
.page3-four .pic1 img{display:block;box-shadow:0px 0px 0px 1px #fff,0px 0px 5px 2px #bebebe;}
.page3-four h3{float:left;font-size:14px;padding-top:5px;font-weight:bold;line-height:18px;height:18px;}
.page3-four h3 a{color:#333;}
.page3-four h3 a:hover{text-decoration:underline;}
.page3-four span{display:inline-block;font-size:14px;padding-top:5px;margin-left:4px;color:#b5b5c1;line-height:18px;height:18px;}
.page3-five p{line-height:20px;height:16px;padding-top:1px;font-size:11px;}
.page3-five ul li h3{float:left;font-size:14px;padding-top:5px;font-weight:bold;line-height:20px;height:20px;}
.page3-five li h3 a{color:#333;}
.page3-five li h3 a:hover{text-decoration:underline;}
.page3-five li span{display:inline-block;font-size:14px;padding-top:5px;margin-left:4px;color:#b5b5c1;line-height:20px;height:20px;}
.page4{}
.page4 p{line-height:20px;}
.page4 h3{line-height:34px;font-size:24px;margin-bottom:10px;}
.page4 span{display:block;line-height:17px;margin-bottom:13px;}
.page4 span a{color:#0269ce;}
.page4 span a:hover{text-decoration:underline;}
.page4-left{float:left;}
.page4-right{float:left;margin-bottom:40px;}
.page4-right-top img{display:block;float:left;margin:0px 0px 16px 20px;}
.page4-right-bot img{display:block;float:left;margin-left:19px;}
.page4 h4{float:left;text-align:center;line-height:17px;color:#0269ce;font-weight:normal;}
.page4 h4 a{color:#0269ce;}
.page4 h4 a:hover{text-decoration:underline;}
.page5{margin-top:40px;}
.page5 h2{line-height:35px;font-size:24px;margin-bottom:15px;}
.page5-left{float:left;}
.page5-pic1{position:relative;margin-bottom:13px;}
.page5-pic1 img{display:block;}
.page5-font1{position:absolute;left:36.5%;top:54%;}
.page5-font1 h3{line-height:13px;color:#fff;font-size:12px;}
.page5-font1 h3 a{color:#fff;}
.page5-font1 h3 a:hover{text-decoration:underline;}
.page5-font1 h4{line-height:15px;height:15px;color:#fff;font-weight:normal;}
.page5-font1 h4 a{color:#fff;}
.page5-font1 h4 a:hover{text-decoration:underline;}
.page5-font1 p{line-height:21px;color:#fff;font-size:16px;font-weight:bold;}
.page5-left span{display:block;}
.page5-left span a{color:#0269ce;}
.page5-left span a:hover{text-decoration:underline;}
.page5-right{float:right;}
.page5-pic2{position:relative;margin-bottom:13px;}
.page5-pic2 img{display:block;}
.page5-font2{position:absolute;left:11%;top:11%;}
.page5-font2 p{width:59%;line-height:19px;color:#fff;}
.page5-font3{position:absolute;left:43%;top:43.5%;width:59%;}
.page5-font3 h4{line-height:13px;height:13px;color:#fff;font-size:12px;}
.page5-font3 h4 a{color:#fff;}
.page5-font3 h4 a:hover{text-decoration:underline;}
.page5-font3 h3{line-height:13px;height:13px;color:#fff;font-size:12px;}
.page5-font3 h3 a{color:#fff;}
.page5-font3 h3 a:hover{text-decoration:underline;}
.page5-font3 p{line-height:21px;color:#fff;font-size:16px;font-weight:bold;}
.page5-right span{display:block;margin-bottom:42px;}
.page5-right span a{color:#0269ce;}
.page5-right span a:hover{text-decoration:underline;}

.page6 p{line-height:17px;}
.page6 h3{line-height:34px;font-size:24px;margin-bottom:21px;}
.page6-pic{margin-left:-20px;}
.page6-pic img{display:block;float:left;margin:0px 0px 20px 20px;}
.page6 span{display:block;float:left;left:50%;transform:translateX(-50%;);margin-bottom:41px;}
.page6 span a{line-height:19px;color:#0269ce;}
.page6 span a:hover{text-decoration:underline;}

.page7{margin-bottom:68px;}
.page7-top-left{float:left;padding:19px 29px 22px 19px;width:31%;border:1px solid #c0c0c0;margin-bottom:68px;margin-right:20px;background:url(../images/restarantbgbgg_03.gif) no-repeat right top;}
.page7-top-left p{line-height:17px;margin-bottom:10px;}
.page7-top-left h3{line-height:20px;font-size:18px;margin-bottom:12px;}
.page7-top-left select{border:1px solid #c5c5c5;box-shadow:1px 1px 0px #d9e3ec,-1px 0px 0px #d9e3ec;margin-right:10px;}
.page7-top-left input{background:#0b7cd2;cursor:pointer;color:#fff;border-radius:3px;text-align:center;box-shadow:-1px 0px 0px #dfe9f2,0px 1px 2px #c8d0d9;}
.page7-top-left input:hover{background:#448DE4;color:#fff;}
.page7-top-right{float:left;padding:19px 29px 51px 19px;width:31%;border:1px solid #c0c0c0;margin-bottom:68px;}
.page7-top-right p{line-height:17px;margin-bottom:5px;}
.page7-top-right h3{line-height:29px;font-size:18px;margin-bottom:7px;}
.page7-top-right span{display:block;line-height:16px;font-weight:bold;font-size:10px;color:#0269ce;}
.page7-top-right span:hover{text-decoration:underline;}

.page7-bot{height:30px;margin-bottom:17px;border-bottom:1px solid #eee;}
.page7-bot .font1{float:left;margin:0px 6px 0px 3px;color:#333;line-height:15px;}
.page7-bot span{display:block;float:left;color:#e2e2ec;} 
.page7-bot .font2{margin-left:8px;float:left;color:#f57129;line-height:15px;font-weight:bold;}
.page7-bot .font1:hover{color:#f57129;text-decoration:underline;}
.page7-bot .font2:hover{color:#f57129;text-decoration:underline;}

.page8{padding-bottom:50px;border-bottom:1px solid #eee;}
.page8 p{line-height:43px;}
.page8 ul{float:left;width:25%;}
.page8 ul li{line-height:18px;}
.page8 ul li a{color:#333;}
.page8 ul li a:hover{text-decoration:underline;}
.page8 span{float:left;width:250px;}
.page8 span a{color:#333;}
.page8 span a:hover{text-decoration:underline;}

.wrap{position:relative;}
.wrap .toup{width:53px;height:60px;background:rgba(0,0,0,0.5);position:fixed;right:18%;bottom:0px;border-radius:4px;}
.wrap .toup i{font-size:80px;font-weight:bold;position:absolute;left:3px;bottom:20px;color:#fff;line-height:48px;height:24px;overflow:hidden;}
.wrap .toup:hover{background:rgba(0,0,0,0.8);}